In [1]:
import pandas as pd
import scipy 
from scipy import stats
import statsmodels.api as sm

# 2 sample T test

In [2]:
promotion=pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\CSV files\Promotion.csv')
promotion.head()

    Credit        Promotion.Type  InterestRateWaiver  StandardPromotion
0  3354.34  Interest Rate Waiver             1989.10            1272.25
1  3856.25  Interest Rate Waiver             1808.38            1250.38
2  3632.23  Interest Rate Waiver             1153.75            1474.78
3  3655.30  Interest Rate Waiver             1745.64            2064.89
4  2032.94    Standard Promotion             1008.24            2030.87

# Normality Test

In [3]:
print(stats.shapiro(promotion.InterestRateWaiver))    #Shapiro Test
print(stats.shapiro(promotion.StandardPromotion))

ShapiroResult(statistic=0.9923660159111023, pvalue=0.22453102469444275)
ShapiroResult(statistic=0.9919784665107727, pvalue=0.19155508279800415)

# Variance test

In [ ]:
scipy.stats.levene(promotion.InterestRateWaiver, promotion.StandardPromotion)

# Applying test

In [ ]:
sm.stats.ttest_ind(promotion.InterestRateWaiver,promotion.StandardPromotion)
sm.stats.ttest_ind(promotion.InterestRateWaiver,promotion.StandardPromotion,alternative = "larger")

# Chi-Square Test

In [4]:
Bahaman=pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\CSV files\Bahaman.csv')
Bahaman

     Defective     Country
0            0       India
1            0       India
2            0       India
3            0       India
4            1       India
..         ...         ...
795          0  Bangladesh
796          0  Bangladesh
797          1  Bangladesh
798          0  Bangladesh
799          0  Bangladesh

[800 rows x 2 columns]

In [5]:
count=pd.crosstab(Bahaman["Defective"],Bahaman["Country"])
count

Country    Bangladesh  China  India  Srilanka
Defective
0                 183    179    175       178
1                  17     21     25        22

In [6]:
(200*715)/800

178.75

In [7]:
Chisquares_results=scipy.stats.chi2_contingency(count)
Chi_square=[['','Test Statistic','p-value'],['Sample Data',Chisquares_results[0],Chisquares_results[1]]]

In [10]:
Chisquares_results

(1.7243932538050184,
 0.6315243037546223,
 3,
 array([[178.75, 178.75, 178.75, 178.75],
        [ 21.25,  21.25,  21.25,  21.25]]))

In [8]:
print(Chi_square)

[['', 'Test Statistic', 'p-value'], ['Sample Data', 1.7243932538050184, 0.6315243037546223]]

In [9]:
Chisquares_results

(1.7243932538050184,
 0.6315243037546223,
 3,
 array([[178.75, 178.75, 178.75, 178.75],
        [ 21.25,  21.25,  21.25,  21.25]]))

# One - Way Anova

In [ ]:
from statsmodels.formula.api import ols
import pandas as pd
cof=pd.read_csv("C:\\Users\\Vimod\\Downloads\\ContractRenewal_Data.csv")
cof

In [ ]:
cof.columns="SupplierA","SupplierB","SupplierC"

# Normality Test

In [ ]:
print(stats.shapiro(cof.SupplierA))    #Shapiro Test
print(stats.shapiro(cof.SupplierB))
print(stats.shapiro(cof.SupplierC))

# Variance test

In [ ]:
scipy.stats.levene(cof.SupplierA, cof.SupplierB,cof.SupplierC)

# Applying one-way Anova test

In [ ]:
mod=ols('SupplierA~SupplierB+SupplierC',data=cof).fit()
aov_table=sm.stats.anova_lm(mod,type=1)
print(aov_table)

# 2 proportion test

In [ ]:
Johnytalkers = pd.read_csv("C:\\Users\\Vimod\\Downloads\\JohnyTalkers.mtw.csv")

In [ ]:
count=pd.crosstab(Johnytalkers["Person"],Johnytalkers["Icecream"])

In [ ]:
n1 = 58
p1 = .12
58/480
152/740
n2 = 152
p2 = .20

In [ ]:
import numpy as np
population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

In [ ]:
#Ho:Proportions of adults = Proportions of children 
#Ha: Proportions of adults is not equal to proportion of children
sm.stats.ttest_ind(population1, population2)

In [ ]:
#Ho -> Proportions of Adults >  Proportions of Children
# Ha -> Proportions of Adults < Proportions of Children
sm.stats.ttest_ind(population1, population2,alternative = "smaller")